# Contents of /etc/systemd/system/dynamicdnswatcher.service
[Unit]
Description=DynamicDNSWatcher service
After=multi-user.target network-online.target
Wants=network-online.target
# Requires=time-set.target
StartLimitBurst=10
StartLimitIntervalSec=33

[Service]
Type=simple
Restart=always
RestartSec=10
User=dynamicdnswatcher
Group=www-data
ExecStart=/usr/local/bin/dynamicdnswatcher -v 0 -f /var/cache/dynamicdnswatcher/dynamicdnswatcher.txt -o /var/www/html/dynamicdnswatcher-%H.html
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
