Package: DynamicDNSWatcher
Version: 1.20220803-1
Section: custom
Priority: optional
Architecture: arm64
Essential: no
Installed-Size: 100
Maintainer: wcbonner@users.noreply.github.com
Description: queries DNS at one minute intervals and records address changes
Depends: 
Recommends: 
Homepage: https://github.com/wcbonner/DynamicDNSWatcher
